<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.eshop.admin.mapper.SysMenusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.eshop.admin.entity.SysMenus">
        <id column="id" property="id" />
        <result column="menu_code" property="menuCode" />
        <result column="menu_name" property="menuName" />
        <result column="parent_ids" property="parentIds" />
        <result column="parent_id" property="parentId" />
        <result column="menu_url" property="menuUrl" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_by" property="modifyBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_code, menu_name, parent_ids, parent_id, menu_url, create_time, create_by, modify_time, modify_by
    </sql>

</mapper>
