<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.eshop.base.mapper.BaseMessageSmsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.eshop.base.entity.BaseMessageSms">
        <id column="id" property="id" />
        <result column="my_account" property="myAccount" />
        <result column="my_remark" property="myRemark" />
        <result column="platform" property="platform" />
        <result column="mobile_no" property="mobileNo" />
        <result column="content" property="content" />
        <result column="send_status" property="sendStatus" />
        <result column="send_num" property="sendNum" />
        <result column="flag_urgent" property="flagUrgent" />
        <result column="flag_try_again" property="flagTryAgain" />
        <result column="flag_frozen" property="flagFrozen" />
        <result column="order_num" property="orderNum" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="create_by_ids" property="createByIds" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_by" property="modifyBy" />
        <result column="modify_by_ids" property="modifyByIds" />
        <result column="flag_delete" property="flagDelete" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, my_account, my_remark, platform, mobile_no, content, send_status, send_num, flag_urgent, flag_try_again, flag_frozen, order_num, create_time, create_by, create_by_ids, modify_time, modify_by, modify_by_ids, flag_delete, remark
    </sql>

</mapper>
