<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.eshop.base.mapper.BaseAttachmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.eshop.base.entity.BaseAttachment">
        <id column="id" property="id" />
        <result column="module" property="module" />
        <result column="path" property="path" />
        <result column="name" property="name" />
        <result column="file_name" property="fileName" />
        <result column="down_count" property="downCount" />
        <result column="size" property="size" />
        <result column="file_type" property="fileType" />
        <result column="link" property="link" />
        <result column="flag_frozen" property="flagFrozen" />
        <result column="order_num" property="orderNum" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="create_by_ids" property="createByIds" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_by" property="modifyBy" />
        <result column="modify_by_ids" property="modifyByIds" />
        <result column="flag_delete" property="flagDelete" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, module, path, name, file_name, down_count, size, file_type, link, flag_frozen, order_num, create_time, create_by, create_by_ids, modify_time, modify_by, modify_by_ids, flag_delete, remark
    </sql>

</mapper>
