<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.eshop.base.mapper.BaseAdvertisingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.eshop.base.entity.BaseAdvertising">
        <id column="ID" property="id" />
        <result column="positionName" property="positionName" />
        <result column="adName" property="adName" />
        <result column="category" property="category" />
        <result column="adCode" property="adCode" />
        <result column="adWeight" property="adWeight" />
        <result column="startTime" property="startTime" />
        <result column="endTime" property="endTime" />
        <result column="createTime" property="createTime" />
        <result column="createPerson" property="createPerson" />
        <result column="createPersonIds" property="createPersonIds" />
        <result column="modifyTime" property="modifyTime" />
        <result column="modifyPerson" property="modifyPerson" />
        <result column="modifyPersonIds" property="modifyPersonIds" />
        <result column="status" property="status" />
        <result column="isDelete" property="isDelete" />
        <result column="isDisable" property="isDisable" />
        <result column="module" property="module" />
        <result column="moduleId" property="moduleId" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, positionName, adName, category, adCode, adWeight, startTime, endTime, createTime, createPerson, createPersonIds, modifyTime, modifyPerson, modifyPersonIds, status, isDelete, isDisable, module, moduleId, remark
    </sql>

</mapper>
