<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.eshop.base.mapper.BaseAreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.eshop.base.entity.BaseArea">
        <id column="id" property="id" />
        <result column="city_code" property="cityCode" />
        <result column="area_code" property="areaCode" />
        <result column="area" property="area" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, city_code, area_code, area
    </sql>

</mapper>
